<section class=subscription>
    <div class=container>
        <div class=subscription-wrapper>
            <div
                class="d-flex position-relative mx-5 justify-content-between align-items-center flex-column flex-md-row text-center text-md-left">
                <h3 class="text-white flex-fill">Subscribe<br>to our newsletter</h3>
                <form action="#" method=post name=mc-embedded-subscribe-form novalidate class="row flex-fill">
                    <div class="col-lg-7 my-md-2 my-2"><input type=email
                            class="form-control text-white px-4 border-0 w-100 text-center text-md-left"
                            placeholder="Your Email" name=EMAIL></div>
                    <div class="col-lg-5 my-md-2 my-2">
                        <button type="button" name=subscribe class="btn btn-primary btn-lg border-0 w-100">Subscribe
                            Now</button>
                        <div style=position:absolute;left:-5000px aria-hidden=true><input type=text
                                name=b_463ee871f45d2d93748e77cad_a0a2c6d074 tabindex=-1></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<footer class="bg-secondary pt-5">
    <section class="section border-bottom border-color">
        <div class=container>
            <div class="row justify-content-between">
                <div class="col-md-5 mb-4 mb-md-0"><a href='/'>
                        <span style="font-family: 'Caveat', cursive; font-weight: bold;font-size: 44px;">
                            Oxncy
                        </span>
                    </a>
                    <p class="text-light mb-4">
                        To build a vibrant organization that provides quality Integrated plateform & manpower
                        services and to creates opportunities for all to grow.
                    </p>
                    <ul class="list-inline social-icons">
                        <li class=list-inline-item><a href><i class="fa fa-facebook"></i></a></li>
                        <li class=list-inline-item><a href><i class="fa fa-twitter"></i></a></li>
                        <li class=list-inline-item><a href><i class="fa fa-github"></i></a></li>
                        <li class=list-inline-item><a href><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6">
                    <h4 class="text-white mb-4">Quick Links</h4>
                    <ul class="list-styled list-hover-underline">
                        <li class="mb-3 text-light"><a href="about" class=text-light>About us</a></li>
                        <li class="mb-3 text-light"><a href='contact' class=text-light>Contact us</a>
                        </li>
                        <li class="mb-3 text-light"><a href='/policy' class=text-light>Privacy Policy</a></li>
                        <li class="mb-3 text-light"><a href='service' class=text-light>Services</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <h4 class="text-white mb-4">Contact Info</h4>
                    <ul class=list-unstyled>
                        <li class="mb-3 text-light">Shubham</li>
                        <!-- <li class="mb-3 text-light">+91-XX-XXX-XXX</li> -->
                        <li class="mb-3 text-light">info@onxcy.com</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class=>
        <div class=container>
            <div class=row>
                <div class="col-12 text-center">
                    <p class="mb-0 text-light">Copyright © 2019 <a href="https://onxcy.com">onxcy</a> Design By<a
                            href=mailto:developer.idblfs@gmail.com /> idblfs</a></p>
                </div>
            </div>
        </div>
    </section>
</footer>
</body>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACm4dh8ifSY-ClOVPk0NRVFdw-TnQaulM"></script>
<script src="<%- js.a -%>"></script>
<script src="<%- js.b -%>"></script>
<script src="<%- js.c -%>"></script>
<script src="<%- js.d -%>"></script>
<script src="<%- js.e -%>"></script>
<script src="<%- js.f -%>"></script>
<script src="<%- js.g -%>"></script>
<script src="<%- js.h -%>"></script>
<script src="<%- js.i -%>"></script>
<script src="<%- js.j -%>"></script>
<script src="<%- js.k -%>"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</html>