<!doctype html>
<html lang=en-us>

<head>
    <meta charset=utf-8>
    <title>Onxcy | Place for All HR Solutions</title>
    <meta name='viewport' content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta name='description' content="This is meta description">
    <meta name='author' content="Divyanshu">
    <meta name='generator' content="Divyanhu">
    <link rel='stylesheet' href="<%- css.a -%>">
    <link rel='stylesheet' href="<%- css.b -%>">
    <link rel='stylesheet' href="<%- css.c -%>">
    <link rel='stylesheet' href="<%- css.d -%>">
    <link rel='stylesheet' href="<%- css.e -%>">
    <link rel='stylesheet' href="<%- css.g -%>">
    <link rel='stylesheet' href="<%- css.f -%>" media=screen>
    <link rel="apple-touch-icon" sizes="57x57" href="favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link href="https://fonts.googleapis.com/css?family=Caveat:700&display=swap" rel="stylesheet">
</head>

<body>
    <div class=preloader><img src='<%- css.loader -%>' alt=preloader></div>
    <div class="naviagtion fixed-top transition">
        <div class=container>
            <nav class="navbar navbar-expand-lg navbar-dark p-0">
                <a class="navbar-brand p-0" href='/'>
                    <span style="font-family: 'Caveat', cursive; font-weight: bold; font-size: xx-large;">Onxcy</span>
                </a>
                <button class="navbar-toggler border-0" type=button data-toggle=collapse data-target=#navigation
                    aria-controls=navigation aria-expanded=false aria-label="Toggle navigation">
                    <i class="fa fa-bars text-white h3 mb-0"></i></button>
                <div class="collapse navbar-collapse text-center" id=navigation>
                    <ul class="navbar-nav mx-auto">
                        <li class=nav-item><a class="nav-link text-white text-capitalize" href='/'>Home</a></li>
                        <li class=nav-item><a class="nav-link text-white text-capitalize" href='about'>About</a></li>
                        <li class='nav-item dropdown'>
                            <a class="nav-link text-white text-capitalize dropdown-toggle" href=# role=button
                                data-toggle=dropdown aria-haspopup=false aria-expanded=false>Service
                            </a>
                            <div class=dropdown-menu>
                                <a class="dropdown-item text-color" href='service'>Overview</a>
                                <a class="dropdown-item text-color" href='hr'>HR</a>
                                <a class="dropdown-item text-color" href='payroll'>Payroll</a>
                                <a class="dropdown-item text-color" href='performance'>Performance</a>
                                <a class="dropdown-item text-color" href='recruit'>Recruit</a>
                                <a class="dropdown-item text-color" href='timesheet'>Timesheet</a>
                            </div>
                        </li>
                        <li class=nav-item><a class="nav-link text-white text-capitalize" href='contact'>Contact</a>
                        </li>
                    </ul>
                    <a href='/resume' class="btn btn-outline-primary text-white ml-lg-3">Looking For A Job?</a>
                </div>
            </nav>
        </div>
    </div>