<!doctype html>
<html lang=en-us>

<head>
    <meta charset=utf-8>
    <!-- Primary Meta Tags -->
    <title>Onxcy | Place for All HR Solutions</title>
    <meta name="title" content="Onxcy | Place for All HR Solutions">
    <meta name="description"
        content="Best HR tools for recruitment, onboarding, payrolling, compliance, performance management, leave & attendance, task management, reimbursement management & other reporting work.">
    <meta title="Onxcy | Best HRMS Tool" content="onxcy.com">
    <meta name="keywords"
        content="Best HRMS Tool,Best Payroll management tool, Best Compliance management tool,Best Leave management tool,Best reimbursement tool" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://onxcy.com/">
    <meta property="og:title" content="Onxcy | Place for All HR Solutions">
    <meta property="og:description"
        content="A platform which smooth your recruitment, onboarding, payrolling, compliance, performance management, leave & attendance, task management, reimbursement management & other reporting work.">
    <meta property="og:image" content="">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="http://onxcy.com/">
    <meta property="twitter:title" content="Onxcy | Place for All HR Solutions">
    <meta property="twitter:description"
        content="A platform for Employee and employer to enhance their performance, & compare their performance from another teammates. ">
    <meta property="twitter:image" content="">
    <meta name='viewport' content="width=device-width,initial-scale=1,maximum-scale=1">

    <meta name='author' content="Divyanshu Jaiswal">
    <meta name='generator' content="Divyanshu Jaiswal">

    <link rel='stylesheet' href="<%- css.a -%>">
    <link rel='stylesheet' href="<%- css.b -%>">
    <link rel='stylesheet' href="<%- css.c -%>">
    <link rel='stylesheet' href="<%- css.d -%>">
    <link rel='stylesheet' href="<%- css.e -%>">
    <link rel='stylesheet' href="<%- css.g -%>">
    <link rel='stylesheet' href="<%- css.f -%>" media=screen>

    <meta name="theme-color" content="linear-gradient(80deg,#0030cc 0%,#00a4db 100%)">
    
    <link href="https://fonts.googleapis.com/css?family=Caveat:700&display=swap" rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134186167-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-134186167-2');
    </script>
</head>

<body>
    <div class=preloader><img src='<%- css.loader -%>' alt=preloader></div>
    <div class="naviagtion fixed-top transition">
        <div class=container>
            <nav class="navbar navbar-expand-lg navbar-dark p-0">
                <a class="navbar-brand p-0" href='/'>
                    <span style="font-family: 'Caveat', cursive; font-weight: bold; font-size: xx-large;">Onxcy</span>
                </a>
                <button class="navbar-toggler border-0" type=button data-toggle=collapse data-target=#navigation
                    aria-controls=navigation aria-expanded=false aria-label="Toggle navigation">
                    <i class="fa fa-bars text-white h3 mb-0"></i></button>
                <div class="collapse navbar-collapse text-center" id=navigation>
                    <ul class="navbar-nav mx-auto">
                        <li class=nav-item><a class="nav-link text-white text-capitalize" href='/'>Home</a></li>
                        <li class=nav-item><a class="nav-link text-white text-capitalize" href='about'>About</a></li>
                        <li class='nav-item dropdown'>
                            <a class="nav-link text-white text-capitalize dropdown-toggle" href=# role=button
                                data-toggle=dropdown aria-haspopup=false aria-expanded=false>Service
                            </a>
                            <div class=dropdown-menu>
                                <a class="dropdown-item text-color" href='service'>Overview</a>
                                <a class="dropdown-item text-color" href='hr'>HR</a>
                                <a class="dropdown-item text-color" href='payroll'>Payroll</a>
                                <a class="dropdown-item text-color" href='performance'>Performance</a>
                                <a class="dropdown-item text-color" href='recruit'>Recruit</a>
                                <a class="dropdown-item text-color" href='timesheet'>Timesheet</a>
                            </div>
                        </li>
                        <li class=nav-item><a class="nav-link text-white text-capitalize" href='contact'>Contact</a>
                        </li>
                    </ul>
                    <a href='/resume' class="btn btn-outline-primary text-white ml-lg-3">Looking For A Job?</a>
                </div>
            </nav>
        </div>
    </div>