<section class="page-title page-title-overlay bg-cover">
    <div class=container>
        <div class=row>
            <div class=col-lg-7>
                <h1 class="text-white position-relative">Performance<span class=watermark-sm>performance</span></h1>
                <p class="text-white pt-4 pb-4"></p>
            </div>
            <div class="col-lg-3 ml-auto align-self-end">
                <nav class="position-relative zindex-1" aria-label=breadcrumb>
                    <ol class="breadcrumb justify-content-end bg-transparent">
                        <li class=breadcrumb-item><a href="/" class=text-white>Home</a></li>
                        <li class="breadcrumb-item text-white" aria-current=page>Performance</li>
                    </ol>
                </nav>
            </div>

        </div>
    </div>
</section>
<section class=subscription>
    <div class=container>
        <div class=subscription-wrapper>
            <div
                class="d-flex position-relative justify-content-between align-items-center flex-column flex-md-row text-center text-md-left">
                <div class="row w-100">
                    <div class="col-md-3 col-3 text-center">
                        <a class="services" href="<%-base_url-%>services/hr" aria-expanded="false">
                            <img class="img-fluid" src="<%- base_url %>public/Icons/icons8-workflow-100.png" alt="">
                            <h6 class="text-white">HR</h6>
                        </a>
                    </div>
                    <div class="col-md-3 col-3 text-center">
                        <a class="services" href="<%-base_url-%>services/payroll" aria-expanded="false">
                            <img class="img-fluid" src="<%- base_url %>public/Icons/icons8-growing-money-100.png"
                                alt="">
                            <h6 class="text-white">Payroll</h6>
                        </a>
                    </div>
                    <div class="col-md-3 col-3 text-center">
                        <a class="services" href="<%-base_url-%>services/performance" aria-expanded="false">
                            <img class="img-fluid" src="<%- base_url %>public/Icons/icons8-increase-100.png" alt="">
                            <h6 class="text-white">Performance</h6>
                        </a>
                    </div>
                    <div class="col-md-3 col-3 text-center">
                        <a class="services" href="<%-base_url-%>services/recruit" aria-expanded="false">
                            <img class="img-fluid" src="<%- base_url %>public/Icons/icons8-inspection-100.png" alt="">
                            <h6 class="text-white">Recruit</h6>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="collapse3" class="section" role="tabpanel" aria-labelledby="headingOne">
    <div class=container>
        <div class="row align-items-center">
            <div class="col-lg-12 text-center">
                <ul
                    class="navbar-nav navbar-expand-lg mx-auto nav nav-tabs d-flex position-relative mx-5 justify-content-between align-items-center">
                    <li><a class="active show p-2" data-toggle="tab" href="#performance">Performance</a></li>
                    <li><a class="p-2" data-toggle="tab" href="#goals">Goals Management</a></li>
                    <li><a class="p-2" data-toggle="tab" href="#feedback">Continuous Feedback</a></li>
                    <li><a class="p-2" data-toggle="tab" href="#360degreee">360 Degree Review</a></li>
                    <li><a class="p-2" data-toggle="tab" href="#perfreview">Performance Review</a></li>
                    <li><a class="p-2" data-toggle="tab" href="#empintelligence">Employee Intelligence</a></li>
                </ul>
            </div>
            <!-- staer : performance -->
            <div class="col-lg-12 tab-content pt-5">
                <div id="performance" class="tab-pane fade show active">
                    <div class="row align-items-center">
                        <div class="col-lg-12 text-center">
                            <h2 class=section-title data-ddj=fade-up data-ddj-delay=100>Performance Management Software
                            </h2>
                            <p class=subtitle data-ddj=fade-up>
                                Do you manage the goals of your workforce or give
                                employees the
                                driver’s seat?
                            </p>
                        </div>
                        <div class="col-lg-6 col-md-7 text-center text-md-left order-md-1 order-2">
                            <div class="content">
                                <h5>
                                    Easy-to-use software to track and review the performance of the employees.
                                </h5><br>
                                <ul>
                                    <li>Set SMART goals and track the progress.</li><br>
                                    <li>Easily- Navigable Dashboard</li><br>
                                    <li>Performance Review Cycle</li><br>
                                    <li>360 Degree and Peer Reviews</li><br>
                                    <li>Customizable Review and Assessment</li><br>
                                    <li>Goals and Performance Tracking</li><br>
                                    <li>Development and Succession Planning</li><br>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-5 text-center text-md-left order-1 order-md-2 mb-4 mb-md-0">
                            <img class="img-fluid" src=<%- base_url %>public/images/service/performance_dashboard.png
                                class=img-fluid alt=about-image data-ddj=fade-left>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-lg-12 text-center">
                            <h2 class=section-title data-ddj=fade-up data-ddj-delay=200>Key Features</h2>
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-4 text-center" data-ddj=fade-up data-ddj-delay=0>
                            <div class="card border-0 shadow rounded-xs pt-5">
                                <div class=card-body>
                                    <img class="img-fluid" src="<%- base_url %>public/Icons/icons8-approval-100.png"
                                        alt="">
                                    <h4 class="mt-4 mb-3">Create Goals</h4>
                                    <p>Create and assign the KRA, KPI & competencies.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-4 text-center" data-ddj=fade-up data-ddj-delay=100>
                            <div class="card border-0 shadow rounded-xs pt-5">
                                <div class=card-body>
                                    <img class="img-fluid" src="<%- base_url %>public/Icons/icons8-survey-100.png"
                                        alt="">
                                    <h4 class="mt-4 mb-3">Succession Planning</h4>
                                    <p>Understand and improve behavioural dynamics observed on-the-job.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-4 text-center" data-ddj=fade-up data-ddj-delay=200>
                            <div class="card border-0 shadow rounded-xs pt-5">
                                <div class=card-body>
                                    <img class="img-fluid" src="<%- base_url %>public/Icons/icons8-process-100.png"
                                        alt="">
                                    <h4 class="mt-4 mb-3">360 Degree Reviews </h4>
                                    <p>Collect 360 feedbacks anytime from managers, peers and customers. </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-4 text-center" data-ddj=fade-up data-ddj-delay=300>
                            <div class="card border-0 shadow rounded-xs pt-5">
                                <div class=card-body>
                                    <img class="img-fluid" src="<%- base_url %>public/Icons/icons8-work-100.png" alt="">
                                    <h4 class="mt-4 mb-3">Reward and Recognition</h4>
                                    <p>Instant recognition and redeemable rewards for the employees.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-4 text-center" data-ddj=fade-up data-ddj-delay=400>
                            <div class="card border-0 shadow rounded-xs pt-5">
                                <div class=card-body>
                                    <img class="img-fluid"
                                        src="<%- base_url %>public/Icons/icons8-contact-details-100.png" alt="">
                                    <h4 class="mt-4 mb-3">Employee Engagement</h4>
                                    <p>Helps you attract, engage, nurture and retain millennials.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-4 text-center" data-ddj=fade-up data-ddj-delay=500>
                            <div class="card border-0 shadow rounded-xs pt-5">
                                <div class=card-body>
                                    <img class="img-fluid" src="<%- base_url %>public/Icons/icons8-account-100.png"
                                        alt="">
                                    <h4 class="mt-4 mb-3">Performance Appraisals</h4>
                                    <p>Digitize and conduct periodic performance appraisals easily.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-4 text-center" data-ddj=fade-up data-ddj-delay=600>
                            <div class="card border-0 shadow rounded-xs pt-5">
                                <div class=card-body>
                                    <img class="img-fluid" src="<%- base_url %>public/Icons/icons8-todo-list-100.png"
                                        alt="">
                                    <h4 class="mt-4 mb-3">Performance Dashboard</h4>
                                    <p>Get real-time actionable insight to drive employee performance.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-4 text-center" data-ddj=fade-up data-ddj-delay=700>
                            <div class="card border-0 shadow rounded-xs pt-5">
                                <div class=card-body>
                                    <img class="img-fluid" src="<%- base_url %>public/Icons/icons8-schedule-100.png"
                                        alt="">
                                    <h4 class="mt-4 mb-3">Customizable Reports</h4>
                                    <p>Generate standard and custom reports on everyday needs.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div id="goals" class="tab-pane fade">
                    <div class="row align-items-center">
                        <div class="col-lg-12 text-center">
                            <h2 class=section-title data-ddj=fade-up data-ddj-delay=100>Goals Management Software
                            </h2>
                            <p class=subtitle data-ddj=fade-up>
                                Measure what matters!
                            </p>
                        </div>
                        <div class="col-lg-6 col-md-7 text-center text-md-left order-md-1 order-2">
                            <div class="content">
                                <h5>
                                    Define goals and objectives to set expectations and track people’s progress in
                                    real-time.
                                </h5><br>
                                <ul>
                                    <li>Get the inside scoop on employee performance.</li><br>
                                    <li>Create, track and grow performance together.</li><br>
                                    <li>Check employee goals in a single report.</li><br>
                                    <li>Get Continuous feedback on goals.</li><br>
                                    <li>Actionable analytics and reports to drive growth.</li><br>
                                    <li>Optimize employee engagement.</li><br>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-5 text-center text-md-left order-1 order-md-2 mb-4 mb-md-0">
                            <img class="img-fluid" src=<%- base_url %>public/images/service/configuration_appraisal.png
                                class=img-fluid alt=about-image data-ddj=fade-left>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-lg-12 text-center">
                            <h2 class=section-title data-ddj=fade-up data-ddj-delay=200>Key Features</h2>
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-4 text-center" data-ddj=fade-up data-ddj-delay=0>
                            <div class="card border-0 shadow rounded-xs pt-5">
                                <div class=card-body>
                                    <img class="img-fluid" src="<%- base_url %>public/Icons/icons8-approval-100.png"
                                        alt="">
                                    <h4 class="mt-4 mb-3">Set SMART Goals</h4>
                                    <p>Track lead, lag or on-track status of the goals for monitoring the progress.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-4 text-center" data-ddj=fade-up data-ddj-delay=100>
                            <div class="card border-0 shadow rounded-xs pt-5">
                                <div class=card-body>
                                    <img class="img-fluid" src="<%- base_url %>public/Icons/icons8-survey-100.png"
                                        alt="">
                                    <h4 class="mt-4 mb-3">OKR Framework</h4>
                                    <p>Measure key results for individuals to achieve common objective.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-4 text-center" data-ddj=fade-up data-ddj-delay=200>
                            <div class="card border-0 shadow rounded-xs pt-5">
                                <div class=card-body>
                                    <img class="img-fluid" src="<%- base_url %>public/Icons/icons8-work-100.png" alt="">
                                    <h4 class="mt-4 mb-3">Matrix Hierarchy</h4>
                                    <p> Matrix reporting structure with the unique goals mapping attribute.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-4 text-center" data-ddj=fade-up data-ddj-delay=300>
                            <div class="card border-0 shadow rounded-xs pt-5">
                                <div class=card-body>
                                    <img class="img-fluid" src="<%- base_url %>public/Icons/icons8-work-100.png" alt="">
                                    <h4 class="mt-4 mb-3">Reward and Recognition</h4>
                                    <p>Discover goal status and performance percentile of the employees .</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-4 text-center" data-ddj=fade-up data-ddj-delay=400>
                            <div class="card border-0 shadow rounded-xs pt-5">
                                <div class=card-body>
                                    <img class="img-fluid" src="<%- base_url %>public/Icons/icons8-target-100.png"
                                        alt="">
                                    <h4 class="mt-4 mb-3">Automatic Tracking</h4>
                                    <p>Measure and track the real-time goals in a go!</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-4 text-center" data-ddj=fade-up data-ddj-delay=500>
                            <div class="card border-0 shadow rounded-xs pt-5">
                                <div class=card-body>
                                    <img class="img-fluid" src="<%- base_url %>public/Icons/icons8-notification-100.png"
                                        alt="">
                                    <h4 class="mt-4 mb-3">Automated Notifications</h4>
                                    <p>Automated reminders to the team to update the goals on the schedule.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-4 text-center" data-ddj=fade-up data-ddj-delay=600>
                            <div class="card border-0 shadow rounded-xs pt-5">
                                <div class=card-body>
                                    <img class="img-fluid" src="<%- base_url %>public/Icons/icons8-people-100.png"
                                        alt="">
                                    <h4 class="mt-4 mb-3">Manage tasks</h4>
                                    <p>Create and assign tasks which are linked to goals or projects.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-4 text-center" data-ddj=fade-up data-ddj-delay=700>
                            <div class="card border-0 shadow rounded-xs pt-5">
                                <div class=card-body>
                                    <img class="img-fluid" src="<%- base_url %>public/Icons/icons8-todo-list-100.png"
                                        alt="">
                                    <h4 class="mt-4 mb-3">Limited Access</h4>
                                    <p>Mark goals, projects and private limiting access to only selected people.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end : goals -->
                <!-- start feedback -->
                <div id="feedback" class="tab-pane fade">
                    <div class="row align-items-center">
                        <div class="col-lg-12 text-center">
                            <h2 class=section-title data-ddj=fade-up data-ddj-delay=100>Continuous Feedback
                            </h2>
                            <p class=subtitle data-ddj=fade-up>
                                Don’t just criticize, condemn or complain, give a constructive feedback instead!
                            </p>
                        </div>
                        <div class="col-lg-6 col-md-7 text-center text-md-left order-md-1 order-2">
                            <div class="content">
                                <h5>
                                    The lightweight feedback system that spawned a management revolution.
                                </h5><br>
                                <ul>
                                    <li>Align everyone around top company priorities.</li><br>
                                    <li>Get a pulse of team morale and performance.</li><br>
                                    <li>Remove roadblocks and coach employees.</li><br>
                                    <li>Recognize employees and increase engagement.</li><br>
                                    <li>Help employees grow with forward looking reviews.</li><br>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-5 text-center text-md-left order-1 order-md-2 mb-4 mb-md-0">
                            <img class="img-fluid" src=<%- base_url %>public/images/service/people.png class=img-fluid
                                alt=about-image data-ddj=fade-left>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-lg-12 text-center">
                            <h2 class=section-title data-ddj=fade-up data-ddj-delay=200>Key Features</h2>
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-4 text-center" data-ddj=fade-up data-ddj-delay=0>
                            <div class="card border-0 shadow rounded-xs pt-5">
                                <div class=card-body>
                                    <img class="img-fluid" src="<%- base_url %>public/Icons/icons8-approval-100.png"
                                        alt="">
                                    <h4 class="mt-4 mb-3">One-time Surveys</h4>
                                    <p>
                                        Ease using the surveys using your own questions and categories.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-4 text-center" data-ddj=fade-up data-ddj-delay=100>
                            <div class="card border-0 shadow rounded-xs pt-5">
                                <div class=card-body>
                                    <img class="img-fluid" src="<%- base_url %>public/Icons/icons8-survey-100.png"
                                        alt="">
                                    <h4 class="mt-4 mb-3">Perpetual Feedback</h4>
                                    <p>Continuous feedback evaluations to improve employee engagement.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-4 text-center" data-ddj=fade-up data-ddj-delay=200>
                            <div class="card border-0 shadow rounded-xs pt-5">
                                <div class=card-body>
                                    <img class="img-fluid" src="<%- base_url %>public/Icons/icons8-work-100.png" alt="">
                                    <h4 class="mt-4 mb-3">Custom Categories</h4>
                                    <p> Create your own questions and categories as per the needs.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-4 text-center" data-ddj=fade-up data-ddj-delay=300>
                            <div class="card border-0 shadow rounded-xs pt-5">
                                <div class=card-body>
                                    <img class="img-fluid" src="<%- base_url %>public/Icons/icons8-work-100.png" alt="">
                                    <h4 class="mt-4 mb-3">Multiple Question Types</h4>
                                    <p>Ask multiple questions or create polls in a go!</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-4 text-center" data-ddj=fade-up data-ddj-delay=400>
                            <div class="card border-0 shadow rounded-xs pt-5">
                                <div class=card-body>
                                    <img class="img-fluid" src="<%- base_url %>public/Icons/icons8-target-100.png"
                                        alt="">
                                    <h4 class="mt-4 mb-3">Real-Time Feedback</h4>
                                    <p>Improve engagement, remove prejudice and monitor performance.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-4 text-center" data-ddj=fade-up data-ddj-delay=500>
                            <div class="card border-0 shadow rounded-xs pt-5">
                                <div class=card-body>
                                    <img class="img-fluid" src="<%- base_url %>public/Icons/icons8-notification-100.png"
                                        alt="">
                                    <h4 class="mt-4 mb-3">Integrated Timesheets</h4>
                                    <p>Enables managers to appreciate great work and train employees.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-4 text-center" data-ddj=fade-up data-ddj-delay=600>
                            <div class="card border-0 shadow rounded-xs pt-5">
                                <div class=card-body>
                                    <img class="img-fluid" src="<%- base_url %>public/Icons/icons8-people-100.png"
                                        alt="">
                                    <h4 class="mt-4 mb-3">Predictive Insights</h4>
                                    <p>Get predictive insights into where your indices are headed.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-4 text-center" data-ddj=fade-up data-ddj-delay=700>
                            <div class="card border-0 shadow rounded-xs pt-5">
                                <div class=card-body>
                                    <img class="img-fluid" src="<%- base_url %>public/Icons/icons8-todo-list-100.png"
                                        alt="">
                                    <h4 class="mt-4 mb-3">Integrated Timesheets</h4>
                                    <p>Get detailed insights on high performers and people who need help.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end :  feedbcack ? -->
                <!-- start : 360 -->
                <div id="360degreee" class="tab-pane fade">
                    <div class="row align-items-center">
                        <div class="col-lg-12 text-center">
                            <h2 class=section-title data-ddj=fade-up data-ddj-delay=100>
                                360 Degree Review
                            </h2>
                            <p class=subtitle data-ddj=fade-up>
                                The pursuit of perfection often impedes improvement!
                            </p>
                        </div>
                        <div class="col-lg-6 col-md-7 text-center text-md-left order-md-1 order-2">
                            <div class="content">
                                <h5>
                                    Teamwork is more satisfying when aided by open and honest communication.</h5><br>
                                <ul>
                                    <li>Get the complete picture with 360 degree feedback.</li><br>
                                    <li>Meaning feedback for employee and business growth.</li><br>
                                    <li>Coach employees on the performance and potential basis.</li><br>
                                    <li>Holistic and impactful performance reviews.</li><br>
                                    <li>Build a culture of trust across the organization.&nbsp;</li><br>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-5 text-center text-md-left order-1 order-md-2 mb-4 mb-md-0">
                            <img class="img-fluid" src=<%- base_url %>public/images/service/structure.png
                                class=img-fluid alt=about-image data-ddj=fade-left>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-lg-12 text-center">
                            <h2 class=section-title data-ddj=fade-up data-ddj-delay=200>Key Features</h2>
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-4 text-center" data-ddj=fade-up data-ddj-delay=0>
                            <div class="card border-0 shadow rounded-xs pt-5">
                                <div class=card-body>
                                    <img class="img-fluid" src="<%- base_url %>public/Icons/icons8-approval-100.png"
                                        alt="">
                                    <h4 class="mt-4 mb-3">360 Degree Feedback</h4>
                                    <p>
                                        Overall assessment for growth strategic decisions.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-4 text-center" data-ddj=fade-up data-ddj-delay=100>
                            <div class="card border-0 shadow rounded-xs pt-5">
                                <div class=card-body>
                                    <img class="img-fluid" src="<%- base_url %>public/Icons/icons8-survey-100.png"
                                        alt="">
                                    <h4 class="mt-4 mb-3">Review Templates</h4>
                                    <p>Create & Review various scenarios templates accordingly.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-4 text-center" data-ddj=fade-up data-ddj-delay=200>
                            <div class="card border-0 shadow rounded-xs pt-5">
                                <div class=card-body>
                                    <img class="img-fluid" src="<%- base_url %>public/Icons/icons8-work-100.png" alt="">
                                    <h4 class="mt-4 mb-3">Centralized System</h4>
                                    <p> Accessible pools of talent in sequential order.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-4 text-center" data-ddj=fade-up data-ddj-delay=300>
                            <div class="card border-0 shadow rounded-xs pt-5">
                                <div class=card-body>
                                    <img class="img-fluid" src="<%- base_url %>public/Icons/icons8-work-100.png" alt="">
                                    <h4 class="mt-4 mb-3">Results Analysis</h4>
                                    <p>Disclosure of achievements and feedback among team.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-4 text-center" data-ddj=fade-up data-ddj-delay=400>
                            <div class="card border-0 shadow rounded-xs pt-5">
                                <div class=card-body>
                                    <img class="img-fluid" src="<%- base_url %>public/Icons/icons8-target-100.png"
                                        alt="">
                                    <h4 class="mt-4 mb-3">Continuous Learning</h4>
                                    <p> Accurate data from multiple perspectives to open feedback.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-4 text-center" data-ddj=fade-up data-ddj-delay=500>
                            <div class="card border-0 shadow rounded-xs pt-5">
                                <div class=card-body>
                                    <img class="img-fluid" src="<%- base_url %>public/Icons/icons8-notification-100.png"
                                        alt="">
                                    <h4 class="mt-4 mb-3">Training & Development</h4>
                                    <p> Train employees on the performance and potential basis.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-4 text-center" data-ddj=fade-up data-ddj-delay=600>
                            <div class="card border-0 shadow rounded-xs pt-5">
                                <div class=card-body>
                                    <img class="img-fluid" src="<%- base_url %>public/Icons/icons8-people-100.png"
                                        alt="">
                                    <h4 class="mt-4 mb-3">Autonomy</h4>
                                    <p>Gives employees control over their own personal development.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-4 text-center" data-ddj=fade-up data-ddj-delay=700>
                            <div class="card border-0 shadow rounded-xs pt-5">
                                <div class=card-body>
                                    <img class="img-fluid" src="<%- base_url %>public/Icons/icons8-todo-list-100.png"
                                        alt="">
                                    <h4 class="mt-4 mb-3">Complete Assessment</h4>
                                    <p>Enables employees evaluate feedback to be focused on.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="perfreview" class="tab-pane fade">
                    <div class="row align-items-center">
                        <div class="col-lg-12 text-center">
                            <h2 class=section-title data-ddj=fade-up data-ddj-delay=100>
                                Performance Review Software
                            </h2>
                            <p class=subtitle data-ddj=fade-up>
                                Accelerate the performance review and appraisal process while giving some power back to
                                the employees.
                            </p>
                        </div>
                        <div class="col-lg-6 col-md-7 text-center text-md-left order-md-1 order-2">
                            <div class="content">
                                <h5>
                                    Increase employee engagement, recruit and retain talent on a more efficient a basis
                                    each day.</h5><br>
                                <ul>
                                    <li>Offer performance-related feedback anywhere, anytime.</li><br>
                                    <li>Systematic evaluation of the employees on performance basis.</li><br>
                                    <li>Transparency over employee performance to achieve company goals.</li><br>
                                    <li>Define performance review workflows to standardize your process.</li><br>
                                    <li>Track progress of employees and build metrics using performance templates.</li>
                                    <br>
                                    <li>Inbuilt templates for the workplace performance evaluation.</li><br>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-5 text-center text-md-left order-1 order-md-2 mb-4 mb-md-0">
                            <img class="img-fluid" src=<%- base_url %>public/images/service/workflow.png class=img-fluid
                                alt=about-image data-ddj=fade-left>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-lg-12 text-center">
                            <h2 class=section-title data-ddj=fade-up data-ddj-delay=200>Key Features</h2>
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-4 text-center" data-ddj=fade-up data-ddj-delay=0>
                            <div class="card border-0 shadow rounded-xs pt-5">
                                <div class=card-body>
                                    <img class="img-fluid" src="<%- base_url %>public/Icons/icons8-approval-100.png"
                                        alt="">
                                    <h4 class="mt-4 mb-3">Dynamic Goals</h4>
                                    <p>
                                        Create dynamic goals for employees’ growth.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-4 text-center" data-ddj=fade-up data-ddj-delay=100>
                            <div class="card border-0 shadow rounded-xs pt-5">
                                <div class=card-body>
                                    <img class="img-fluid" src="<%- base_url %>public/Icons/icons8-survey-100.png"
                                        alt="">
                                    <h4 class="mt-4 mb-3">Clear Measurements</h4>
                                    <p>Clear and easy interpretation of employees’ objectives.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-4 text-center" data-ddj=fade-up data-ddj-delay=200>
                            <div class="card border-0 shadow rounded-xs pt-5">
                                <div class=card-body>
                                    <img class="img-fluid" src="<%- base_url %>public/Icons/icons8-work-100.png" alt="">
                                    <h4 class="mt-4 mb-3">Social Recognition</h4>
                                    <p> Reflects achievements of employees on a social level.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-4 text-center" data-ddj=fade-up data-ddj-delay=300>
                            <div class="card border-0 shadow rounded-xs pt-5">
                                <div class=card-body>
                                    <img class="img-fluid" src="<%- base_url %>public/Icons/icons8-work-100.png" alt="">
                                    <h4 class="mt-4 mb-3">Conduct 1:1’s</h4>
                                    <p>Conduct 1:1 meeting & track improvements.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-4 text-center" data-ddj=fade-up data-ddj-delay=400>
                            <div class="card border-0 shadow rounded-xs pt-5">
                                <div class=card-body>
                                    <img class="img-fluid" src="<%- base_url %>public/Icons/icons8-target-100.png"
                                        alt="">
                                    <h4 class="mt-4 mb-3">Job-Based Reviews</h4>
                                    <p> Give and get instant feedbacks on the performance basis.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-4 text-center" data-ddj=fade-up data-ddj-delay=500>
                            <div class="card border-0 shadow rounded-xs pt-5">
                                <div class=card-body>
                                    <img class="img-fluid" src="<%- base_url %>public/Icons/icons8-notification-100.png"
                                        alt="">
                                    <h4 class="mt-4 mb-3">Real-time Feedback</h4>
                                    <p>Removes much of the hassle and endless paperwork.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-4 text-center" data-ddj=fade-up data-ddj-delay=600>
                            <div class="card border-0 shadow rounded-xs pt-5">
                                <div class=card-body>
                                    <img class="img-fluid" src="<%- base_url %>public/Icons/icons8-people-100.png"
                                        alt="">
                                    <h4 class="mt-4 mb-3">Reward Employees</h4>
                                    <p>Recognize employees with badges & reward points.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-4 text-center" data-ddj=fade-up data-ddj-delay=700>
                            <div class="card border-0 shadow rounded-xs pt-5">
                                <div class=card-body>
                                    <img class="img-fluid" src="<%- base_url %>public/Icons/icons8-todo-list-100.png"
                                        alt="">
                                    <h4 class="mt-4 mb-3">Actionable Insights</h4>
                                    <p>Actionable insights for employee evaluations.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- start : emp Intelligence -->
                <div id="empintelligence" class="tab-pane fade">
                    <div class="row align-items-center">
                        <div class="col-lg-12 text-center">
                            <h2 class=section-title data-ddj=fade-up data-ddj-delay=100>
                                Employee Intelligence
                            </h2>
                            <p class=subtitle data-ddj=fade-up>
                                Track, aggregate and visualize key performance indicators overtime.
                            </p>
                        </div>
                        <div class="col-lg-6 col-md-7 text-center text-md-left order-md-1 order-2">
                            <div class="content">
                                <h5>
                                    Where strategy meets performance. Get clarity on the performance of your
                                    organization.
                                </h5><br>
                                <ul>
                                    <li>Continuous Performance Monitoring.</li><br>
                                    <li>Real-time Information.</li><br>
                                    <li>Actionable insights in every phase.</li><br>
                                    <li>Monitor the performance and areas of improvement.</li><br>
                                    <li>Powerful, native and flexible analytics.</li><br>
                                    <li>Set benchmarks to improve the performance in the organization.</li><br>
                                    <li>Analyze, compare and predict results.</li><br>
                                    <li>Embed dashboards to enhance decision-making.</li><br>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-5 text-center text-md-left order-1 order-md-2 mb-4 mb-md-0">
                            <img class="img-fluid" src=<%- base_url %>public/images/service/workflow_performance.png
                                class=img-fluid alt=about-image data-ddj=fade-left>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-lg-12 text-center">
                            <h2 class=section-title data-ddj=fade-up data-ddj-delay=200>Key Features</h2>
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-4 text-center" data-ddj=fade-up data-ddj-delay=0>
                            <div class="card border-0 shadow rounded-xs pt-5">
                                <div class=card-body>
                                    <img class="img-fluid" src="<%- base_url %>public/Icons/icons8-approval-100.png"
                                        alt="">
                                    <h4 class="mt-4 mb-3">Real-time Visibility</h4>
                                    <p>
                                        Make better decisions with instant access to current and live data.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-4 text-center" data-ddj=fade-up data-ddj-delay=100>
                            <div class="card border-0 shadow rounded-xs pt-5">
                                <div class=card-body>
                                    <img class="img-fluid" src="<%- base_url %>public/Icons/icons8-survey-100.png"
                                        alt="">
                                    <h4 class="mt-4 mb-3">KPI’s and Dashboards</h4>
                                    <p>Tap to industry-leading metrics and benchmarks to improve the performance.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-4 text-center" data-ddj=fade-up data-ddj-delay=200>
                            <div class="card border-0 shadow rounded-xs pt-5">
                                <div class=card-body>
                                    <img class="img-fluid" src="<%- base_url %>public/Icons/icons8-work-100.png" alt="">
                                    <h4 class="mt-4 mb-3">Analytics Hub</h4>
                                    <p> Empower business workers to analyze, compare, and predict results.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-4 text-center" data-ddj=fade-up data-ddj-delay=300>
                            <div class="card border-0 shadow rounded-xs pt-5">
                                <div class=card-body>
                                    <img class="img-fluid" src="<%- base_url %>public/Icons/icons8-work-100.png" alt="">
                                    <h4 class="mt-4 mb-3">Trusted Information</h4>
                                    <p>Use the real-time, in-platform data as your single source of truth.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-4 text-center" data-ddj=fade-up data-ddj-delay=400>
                            <div class="card border-0 shadow rounded-xs pt-5">
                                <div class=card-body>
                                    <img class="img-fluid" src="<%- base_url %>public/Icons/icons8-target-100.png"
                                        alt="">
                                    <h4 class="mt-4 mb-3">In-form analytics</h4>
                                    <p> Act quickly, and deliver contextual answers to your teams.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-4 text-center" data-ddj=fade-up data-ddj-delay=500>
                            <div class="card border-0 shadow rounded-xs pt-5">
                                <div class=card-body>
                                    <img class="img-fluid" src="<%- base_url %>public/Icons/icons8-notification-100.png"
                                        alt="">
                                    <h4 class="mt-4 mb-3">Blend your own data</h4>
                                    <p>Blend and analyze the performance results with the worksheets.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-4 text-center" data-ddj=fade-up data-ddj-delay=600>
                            <div class="card border-0 shadow rounded-xs pt-5">
                                <div class=card-body>
                                    <img class="img-fluid" src="<%- base_url %>public/Icons/icons8-people-100.png"
                                        alt="">
                                    <h4 class="mt-4 mb-3">Security and Scale</h4>
                                    <p>Rest easy while your data stays secure and scales within cloud.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-4 text-center" data-ddj=fade-up data-ddj-delay=700>
                            <div class="card border-0 shadow rounded-xs pt-5">
                                <div class=card-body>
                                    <img class="img-fluid" src="<%- base_url %>public/Icons/icons8-todo-list-100.png"
                                        alt="">
                                    <h4 class="mt-4 mb-3">Customizable Reports</h4>
                                    <p>Generate standard and custom reports on everyday needs basis</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>